html{
    background-color: black;
}

.info p{
    font-size: 28px;
    color: green;
    font-family: 'Courier New', Courier, monospace;
    text-align:center;
    position: relative;
    top: 20ch;
}

.intro script{
    color: green;
}

.element {
    color: green;
        margin:10px auto;
        border-radius:5px;
        white-space: pre;
        font-family: 'Courier New', Courier, monospace;
}